body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin-bottom: 10%;
    gap: 2%;
}

.header {
    display: flex; 
    width: 30%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-top: 5%;
}

.title {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;     
}

.textBox {
    display: flex; 
    justify-content: center;
    height: 50%;
}

.container {

    width: 50%;
    position: relative;
    border: 1px solid black;
}

.container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: flex;
    width: 5%;
    height: 5%;
    }
